.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Wrapper que controla o tamanho do banner */
.banner-wrapper {
    position: relative;
    width: 450px;          /* mesmo tamanho do outro */
    height: 80px;
    margin-bottom: 30px;
}


/* Texto centralizado sobre a imagem */
.banner-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(141, 116, 116);
    font-size: 35px;
    font-weight: bold;
    white-space: nowrap;
}
